# ─────────────────────────────────────────
# VENV
# ─────────────────────────────────────────
venv/
debug_output/

# ─────────────────────────────────────────
# PYTHON
# ─────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/