# ─────────────────────────────────────────
# VENV
# ─────────────────────────────────────────
venv/
debug_output/
logs/backup
# ─────────────────────────────────────────
# PYTHON
# ─────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/